<div class="container">
  <h1 clsss="h1">売地を探す</h1>
    <li>北海道</li>
    <li>東北</li>
    <li>関東</li>
    <li>中部</li>
    <li>近畿</li>
    <li>中国</li>
    <li>四国</li>
    <li>九州</li>
    <li>沖縄</li>
</div>

<div class="container">
  <h1 class="h1">貸地を探す</h1>
    <li>北海道</li>
    <li>東北</li>
    <li>関東</li>
    <li>中部</li>
    <li>近畿</li>
    <li>中国</li>
    <li>四国</li>
    <li>九州</li>
    <li>沖縄</li>
</div>